<div class="container-fluid  py-2 my-1" *ngFor="let user of users">
  <div *ngIf="currentId != user.Id" class="row ">
    <div class="col-sm-4 text-center">
      <span> {{user.UserName}}</span>
    </div>
    <div class="col-sm-4 text-center">
      <span> {{user.Email}}</span>
    </div>
    <div class="col-sm-4 text-center">      
        <select #role (change)="changeRole(user.Id,role.value)" [value]="user.RoleName">
          <option *ngFor="let role of roleEnum | enumToArray" >{{ role }}</option>
        </select>
      <button (click)="deleteUser(user)">Delete</button>
    </div>
  </div>
</div>
